<div>
    <div class="box">
        <h1 align="center">Hi hi! ^^ <img src="https://github.com/wervlad/wervlad/assets/24524555/766d336d-b87d-44ba-807c-c51de2bc6b4d" width="28px" alt="👋"></h1>

    <p align="center">
        <b>Welcome to my webpage!</b><br><br>
        <i>
            I'm Jacksini.<br>
            Currently learning Java for Android aplications.<br>
            Open to collaborating on interesting and innovative projects.<br>
        </i><br>
        <a href="www.linkedin.com/in/Jacksini">
            <img src="https://img.shields.io/badge/LinkedIn-blue?style=flat-square&logo=linkedin" alt="LinkedIn">
        </a>
    </p>
    </div>
<div >
  <h3>Languages</h3>
      <div class="badge badge-python">
        <img class="badge-img" src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python Logo">
        <span class="badge-text">Python</span>
      </div>
      <div class="badge badge-cpp">
        <img class="badge-img" src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white" alt="C++ Logo">
        <span class="badge-text">C++</span>
      </div>
      <div class="badge badge-javascript">
        <img class="badge-img" src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript Logo">
        <span class="badge-text">JavaScript</span>
      </div>
      <div class="badge badge-java">
        <img class="badge-img" src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Logo">
        <span class="badge-text">Java</span>
      </div>
    
      <h3>Technologies & Frameworks</h3>
      <div class="badge badge-angular">
        <img class="badge-img" src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white" alt="Angular Logo">
        <span class="badge-text">Angular</span>
      </div>
      <div class="badge badge-vuejs">
        <img class="badge-img" src="https://img.shields.io/badge/vuejs-%2335495e.svg?style=for-the-badge&logo=vuedotjs&logoColor=%234FC08D" alt="Vue.js Logo">
        <span class="badge-text">Vue.js</span>
      </div>
      <div class="badge badge-html5">
        <img class="badge-img" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5 Logo">
        <span class="badge-text">HTML5</span>
      </div>
      <div class="badge badge-css3">
        <img class="badge-img" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3 Logo">
        <span class="badge-text">CSS3</span>
      </div>
    
      <h3>Game Engines</h3>
      <div class="badge badge-godot">
        <img class="badge-img" src="https://img.shields.io/badge/GODOT-%23FFFFFF.svg?style=for-the-badge&logo=godot-engine" alt="Godot Engine Logo">
        <span class="badge-text">Godot Engine</span>
      </div>
    
      <h3>OS</h3>
      <a class="badge badge-os" href="https://github.com/Jacksini">
        <img class="badge-os-img" src="https://img.shields.io/badge/linux-black?style=for-the-badge&logo=Linux" alt="Linux Logo">
        <span class="badge-text">Linux</span>
      </a>
      <a class="badge badge-os" href="https://github.com/Jacksini">
        <img class="badge-os-img" src="https://img.shields.io/badge/Windows-black?style=for-the-badge&logo=Windows" alt="Windows Logo">
        <span class="badge-text">Windows</span>
      </a>
        <div>
            <img src="https://i.imgur.com/8dAwL8b.png" alt="BSHC" style="height: 20px; width: 20px;" align="center">
            <span style="font-size: 25px;"><strong>BSHC</strong> </span>
        </div>
</div>

</div>