<div class="sidebar">
  <img src="https://i.imgur.com/h0H9VTK.png" alt="Logo" class="logo">
  <nav class="navigation">
    <a href="#" class="nav"><h2><i class="bi bi-person-vcard">Acerca de</i></h2></a>
    <a href="#" class="nav"><h2><i class="bi bi-folder-fill">Servicios</i></h2></a>
    <a href="#" class="nav"><h2><i class="bi bi-person-lines-fill">Contacto</i></h2></a>
  </nav>
  <div class="social">
    <h4 class="social-title">My social media</h4>
    <div class="social-icons">
      <i class="bi bi-github"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-twitter"></i>
    </div>
  </div>
</div>