.navbar{
    background-color: rgb(0, 112, 188);
}
.logo{
    margin: auto;
    width: 2em;
    height: 2em;
}
.navbar-brand{
    margin: auto;
    color: white;
}
.nav-link{
    color: white;
}

.background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
  }
  @media (min-width: 800px) {
    .nav h1,
    .slider h1 {
      font-size: 5vw;
    }
}